@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway';
}

h1 {
  font-size: 1.5em;
  text-transform: uppercase;
}

ion-icon {
  font-size: 42px;
  margin: 16px 0;
}

.vinho {
  color: var(--app-color-2);
}

.dourado {
  color: var(--app-color-1);
}

.marfin {
  color: var(--app-color-3);
}

.cta-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  color: var(--app-color-3);
  font-size: 1.125em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  height: fit-content;
  width: 100%;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  padding: 12px 40px;
  position: relative;
  z-index: 1;
  overflow: hidden;


  background: linear-gradient(90deg, #bd9975 -1%, #a17e59 32%, #a17e59 64%, #bd9975 100%);

  box-shadow:
    0 4px 0 0 rgba(var(--app-color-2-rgb), 0.5),
    0 15px 40px -10px rgba(0, 0, 0, 0.4);

  border-top: 2px solid rgba(var(--app-color-1-rgb), 0.8);

  transition: transform 0.5s ease;

  .button-text-wrapper {
    position: relative;
    z-index: 2;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  }

  &::after {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    width: 100%;
    height: calc(100% + 3px);
    border-radius: inherit;
    z-index: 1;

    background: linear-gradient(
      90deg, var(--app-color-1) -1%,
      #a17e59 32%, #a17e59 64%,
        var(--app-color-1) 100%);


    box-shadow:
      0 4px 0 0 rgba(var(--app-color-2-rgb), 0.5),
      0 15px 40px -10px rgba(0, 0, 0, 0.4);

    border-top: 2px solid rgba(var(--app-color-1-rgb), 0.6);

    opacity: 0;
    transition: opacity 0.5s ease;
  }

  &:hover {
    transform: scale(1.03);
  }

  &:hover::after {
    opacity: 1;
  }

  span {
    text-align: center;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;

  section {
    background-color: #f9f9f9;
    width: 100%;
    height: 100%;
    padding: 16px;

    &#pts-one {
      background-color: rgba(249, 249, 249, 0.9);
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: var(--app-color-2);
      text-align: center;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 80vh;
      padding: 60px 0px 60px;
      position: relative;

      .pts-main-content {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        padding: 0;

        .pts-one-text-container {
          line-height: 1.6;
          padding: 0 16px;
          max-width: 800px;
          display: flex;
          flex-direction: column;
          gap: 8px;

          h1 {
            font-size: 1.25em;
            color: var(--app-color-2);
            line-height: 1.3;

            span {
              color: var(--app-color-1);
              background-color: rgba(var(--app-color-2-rgb), 0.9);
              padding: 4px 10px;
              border-radius: 10px 2px;
              font-size: 1.275em;
            }
          }

          h2 {
            font-size: 1.25em;
            color: var(--app-color-2);
            line-height: 1.3;
            padding: 4px 0;

            span {
              background-color: rgba(var(--app-color-1-rgb), 0.5);
              padding: 0 4px;
            }
          }

          h3 {
            font-size: 1.125em;
            color: var(--app-color-2);
            opacity: 0.9;
            line-height: 1.5;
            padding: 4px 0;
            background-color: rgba(var(--app-color-3-rgb), 0.3);
          }

          ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            gap: 8px;
            height: fit-content;
            color: var(--app-color-2);
            flex-wrap: wrap;
            padding: 4px 0;
            margin-bottom: 8px;
            font-size: 0.875em;

            li {
              list-style: none;
              display: flex;
              align-items: center;
              gap: 4px;
              padding: 12px;
              background-color: rgba(var(--app-color-2-rgb), 0.1);
              border-radius: 4px;

              ion-icon {
                width: 24px;
                height: 24px;
                margin: 0;
              }

              &:first-child {
                padding-right: 10px;
              }
            }
          }
        }



        .pts-image-container {
          width: 100%;
          max-width: 600px;
          height: fit-content;
          position: relative;
          padding-bottom: 24px;
          padding-top: 0;
          padding-right: 16px;


          .pts-bg {
            width: 100%;
            height: 70%;
            bottom: 0;
            background-color: rgba(var(--app-color-1-rgb), 0.9);
            position: absolute;
            z-index: 0;
            border-radius: 60% 35%;
          }

          img {
            width: 100%;
            z-index: 1;
            position: relative;
          }
        }
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../images/texture-sand.jpeg');
        background-size:  1024px;
        background-position: center center;
        background-repeat: repeat;
        background-attachment: scroll;
        opacity: 0.1;
        z-index: 0;
        background-color: rgba(249, 249, 249, 0.9);
        mix-blend-mode: multiply;
      }
    }

    &#image-divider-section {
      background-color: #f9f9f9;
      padding: 0;
      width: 100%;
      overflow: hidden;
      margin-bottom: -1px;

      picture {
        display: block;
        width: 100%;
      }

      .animated-divider {
        background-image: url('../images/divider-desktop.jpeg');
        background-size: auto 100%;
        background-repeat: repeat-x;
        height: 200px;
        width: 100%;
        animation: pts-carousel-slide 40s linear infinite;
        display: block;
      }


      img.divider {
        display: none;
      }
    }

    &#solutions {
      text-align: center;
      line-height: 2;
      background-color: rgba(var(--app-color-2-rgb), 1);
      color: var(--app-color-3);
      padding: 80px 16px;
      position: relative;
      overflow: hidden;

      .content-wrapper {
        max-width: 1080px;
        width: 100%;
        margin: 0 auto;

        .heading {
          margin-bottom: 40px;

          .main-heading {
            font-size: 1.8em;
            color: var(--app-color-3);
            margin-bottom: 16px;
            line-height: 1.3;
            text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.35);
          }

          .sub-heading {
            font-size: 1.125em;
            color: var(--app-color-3);
            opacity: 0.9;
            margin-bottom: 12px;
            line-height: 1.5;
            background-color: var(--app-color-2);
            border-radius: 8px;
            padding: 12px;

            .highlight {
              color: var(--app-color-1);
              font-weight: bold;
            }
          }
        }

        .problem-list-card {
          background-color: transparent;
          border-radius: 16px;
          padding: 0;
          margin-top: 30px;
          text-align: left;
          position: relative;

          .card-heading {
            font-size: 1.375em;
            color: var(--app-color-2);
            background-color: var(--app-color-3);
            padding: 16px 20px;
            border-top-left-radius: 16px;
            border-top-right-radius: 16px;
            margin-bottom: 20px;
            text-align: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          }

          .bullet-list {
            list-style: none;
            padding: 0 16px 16px 16px;
            margin: 0;
            display: flex;
            flex-direction: column;
            gap: 16px;

            li {
              background-color: var(--app-color-3);
              border-radius: 10px;
              box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
              padding: 16px 20px;
              border: 1px solid rgba(var(--app-color-1-rgb), 0.2);

              font-size: 1em;
              line-height: 1.6;
              color: var(--app-color-2);
              position: relative;
              padding-left: 50px;
              transition: opacity 0.6s ease-out, transform 0.6s ease-out;
              text-align: left;

              span.highlight {
                background-color: rgba(var(--app-color-1-rgb), 0.5);
                font-weight: bold;
                padding: 2px 4px;
                color: var(--app-color-2);

                &.light {
                  background-color: var(--app-color-1);
                  padding: 4px 8px;
                }
              }

              &::before {
                content: '';
                position: absolute;
                left: 15px;
                top: 50%;
                transform: translateY(-50%);
                width: 24px;
                height: 24px;
                background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23893B37"><path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41L9 16.17z"/></svg>');
                background-size: contain;
                background-repeat: no-repeat;
              }

              &.hidden-item {
                opacity: 0;
                transform: translateY(20px);
              }

              &:last-child {
                padding: 16px;
                text-align: center;

                a {
                  text-decoration: none;
                }

                &::before {
                  content: unset;
                }
              }
            }

            li.hidden-item {
              opacity: 0;
              transform: translateY(20px);
            }

            li.visible-item {
              opacity: 1;
              transform: translateY(0);
            }
          }
        }
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../images/texture-carpet.jpeg');
        background-size:  1024px;
        background-position: center center;
        background-repeat: repeat;
        background-attachment: scroll;
        opacity: 0.15;
      }
    }

    &.separator-section {
      position: relative;
    }

    &#pts {
      background-color: #f9f9f9;
      padding: 80px 16px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: var(--app-color-2);
      text-align: center;
      position: relative;
      overflow: hidden;

      .pts-content-wrapper {
        max-width: 1080px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;

        .pts-text-container {
          max-width: 600px;
          line-height: 1.6;
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 16px;
          align-items: center;

          h1 {
            color: var(--app-color-2);
            line-height: 1.3;

            span {
              color: var(--app-color-1);
              font-weight: bold;
              text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
              background-color: rgba(var(--app-color-2-rgb), 0.9);
              padding: 8px 16px;
              border-radius: 16px 4px;
            }

            &:first-of-type {
              padding: 8px 0;
            }
          }

          h3 {
            font-size: 1.1em;
            color: var(--app-color-2);
            opacity: 0.9;
            line-height: 1.5;
            background-color: rgba(var(--app-color-1-rgb), 0.85);
            padding: 16px;
            border-radius: 16px;

            span {
              font-size: 1.25;
            }
          }

          .cta-button {
            margin-top: 16px;
          }
        }

        .pts-image-container {
          width: 100%;
          max-width: 400px;
          margin: 0 auto;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            max-width: 100%;
            height: auto;
            display: block;
            border-radius: 16px;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
            object-fit: cover;
          }
        }
      }

      &::after {
        content: '';
        background: linear-gradient(180deg,rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
      }
    }

    &#timeline-section {
      background-color: var(--app-color-3);
      padding: 128px 16px 64px;
      text-align: center;

      h2 {
        font-size: 2em;
        margin-bottom: 64px;
        color: var(--app-color-2);
        text-shadow: 1px 1px 10px rgba(0,0,0,0.2);
        padding-bottom: 32px;
      }

      .timeline-container {
        max-width: 1000px;
        margin: 0 auto;
        position: relative;

        .timeline-wrapper {
          position: relative;
          padding: 0 16px;

          .timeline-line {
            position: absolute;
            top: -32px;
            left: 25px;
            width: 2px;
            background-color: rgba(var(--app-color-1-rgb), 0.85);
            height: 100%;
          }

          .timeline-line-fill {
            position: absolute;
            top: -32px;
            left: 24px;
            width: 8px;
            background-color: var(--app-color-2);
            transform: translate(-25%);
            height: 0;
            z-index: 1;
            border-radius: 8px;
          }

          .timeline-item {
            margin-bottom: 32px;
            position: relative;
            padding-left: 50px;

            .timeline-content {
              background-color: #f9f9f9;
              border-radius: 8px;
              box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
              padding: 24px;
              text-align: left;

              h3 {
                font-size: 1.125em;
                color: #444444;
                margin-bottom: 10px;
              }

              p {
                font-size: 0.95em;
                color: #555555;
              }
            }
          }
        }
      }

      &::after {
        content: '';
      }
    }

    &#target-audience-section {
      background-color: var(--app-color-3);
      padding: 60px 0;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: var(--app-color-2);
      text-align: center;

      .target-audience-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 24px;
        max-width: 900px;
        margin: 0 auto;

        .target-audience-text {
          padding: 0 24px;
          h1 {
            color: var(--app-color-2);
            margin-bottom: 24px;
            line-height: 1.3;
            text-transform: uppercase;
          }

          h3 {
            font-size: 1.125em;
            color: var(--app-color-2);
            margin-bottom: 16px;
            opacity: 0.95;
            line-height: 1.5;
          }

          h3:last-of-type {
            margin-bottom: 32px;
          }

          ul {
            list-style: none;
            padding: 0;
            margin: 0 auto;
            max-width: 600px;

            li {
              font-size: 1.1em;
              line-height: 1.6;
              margin-bottom: 16px;
              text-align: left;
              padding-left: 32px;
              position: relative;
              color: var(--app-color-2);
            }

            li::before {
              content: '✸';
              color: var(--app-color-1);
              font-size: 1.2em;
              position: absolute;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
              filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.3));
            }
          }
        }

        .target-audience-img {
          height: auto;
          width: 100%;
          max-width: 300px;
          background-color: transparent;

          img {
            width: 100%;
            border-radius: 16px;
            }
        }
      }
    }

    &#benefits-section {
      background-color: var(--app-color-1);
      padding: 72px 16px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: var(--app-color-2);
      text-align: center;
      position: relative;

      .benefits-content {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: center;

        .benefits-text-container {
          padding: 0 15px;
          text-align: center;

          h1 {
            font-size: 2em;
            color: var(--app-color-2);
            margin-bottom: 30px;
            line-height: 1.3;
            text-transform: uppercase;
          }

          ul {
            list-style: none;
            padding: 0;
            margin: 0 auto;
            max-width: 600px;

            li {
              font-size: 1.1em;
              line-height: 1.6;
              margin-bottom: 16px;
              text-align: left;
              padding-left: 48px;
              position: relative;
              color: var(--app-color-2);
              width: fit-content;

              &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 24px;
                height: 24px;
                background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23f1e9df"><path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41L9 16.17z"/></svg>');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                box-shadow: 1px 1px 10px rgba(var(--app-color-2-rgb), 0.3);
                border-radius: 8px;
                padding: 2px;
              }

              &:hover {
                cursor: context-menu;
                transform: scale(1.05);
                background-color: rgba(var(--app-color-3-rgb), 0.15);
                border-radius: 8px;
              }
            }
          }
        }

        .speakers-photos-container {
          display: flex;
          flex-direction: column;
          gap: 30px;
          align-items: center;
          width: 100%;
          max-width: 500px;

          .speaker-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            max-width: 200px;

            img {
              width: 250px;
              height: 250px;
              border-radius: 50%;
              border-radius: 16px;
              object-fit: cover;
              border: 3px solid var(--app-color-1);
              box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
              margin-bottom: 10px;
            }

            h3 {
              font-size: 1.1em;
              font-weight: bold;
              color: var(--app-color-2);
              margin: 0;
            }
          }
        }
        .speakers-wrapper {
          flex: 1;
          background-color: transparent;
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 16px;
          align-items: center;

          h1 {
            font-size: 1,75em;
            text-align: center;
            text-transform: uppercase;
          }

          .speakers {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 16px;
            padding-top: 0;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.10);
            background-color: rgba(var(--app-color-3-rgb), 1);
            border-radius: 8px;
            width: 100%;
            max-width: 450px;

            .speakers-container {
              color: var(--app-color-2);
              display: flex;
              flex-direction: column;
              width: 100%;
              max-width: 500px;
              background-color: rgba(var(--app-color-3-rgb), 1);

              .splide {
                background-color: rgba(var(--app-color-3-rgb), 1);
                &#main-slider {
                  .splide__track {
                    .splide__list {
                      .splide__slide {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        background-color: rgba(var(--app-color-3-rgb), 1);

                        img {
                          width: 100%;
                          height: 100%;
                          object-fit: cover;
                          margin-top: 16px;
                        }

                        .caption {
                          background-color: rgba(var(--app-color-3-rgb), 1);
                          padding: 10px 16px;
                          width: 100%;

                          h2 {
                            font-weight: bold;
                            text-transform: uppercase;
                            text-align: left;
                          }

                          p {
                            text-align: justify;
                          }
                        }
                      }
                    }
                  }
                }

                &#thumbnail-slider {
                  .splide__track {
                    .splide__list {
                      .splide__slide {
                        filter: brightness(0.65);

                        &.is-active {
                          filter: brightness(1);
                          border-color: var(--app-color-2);
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .wave {
        position: absolute;
        left: 0;
        z-index: 3;
        background-color: transparent;

        &.top {
          top: -34px;
        }

        &.bottom {
          bottom: -34px;
        }
      }
    }

    &#event-info-section {
      background-image: url('../images/background-event-info.jpeg');
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      background-repeat: no-repeat;

      padding: 150px 8px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: var(--app-color-3);
      text-align: center;
      position: relative;

      .event-info-content {
        max-width: 700px;
        margin: 0 auto;
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
          font-size: 2em;
          color: var(--app-color-3);
          margin-bottom: 40px;
          line-height: 1.3;
        }

        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          margin-bottom: 16px;

          li {
            font-size: 18px;
            line-height: 1.6;
            margin-bottom: 20px;
            display: flex;
            align-items: flex-start;
            gap: 16px;

            .title {
              display: flex;
              align-items: center;
              gap: 16px;

              ion-icon {
                margin: 0;
                font-size: 1.5em;
              }
            }

            .value {
              ul {
                li {
                  margin-bottom: 4px;
                }
              }
            }

            .event-info-content .cta-button {
              margin-top: 56px;
            }
          }
        }

        .cta-button {
          width: 100%;
          max-width: 500px;
          height: fit-content;
          padding: 16px 60px;

          span {
            text-wrap: wrap;
            max-width: 100%;
          }
        }

        &.glass {
          background: rgba(0, 0, 0, 0.35);
          border-radius: 16px;
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(6px);
          -webkit-backdrop-filter: blur(6px);
          border: 1px solid rgba(0, 0, 0, 0.1);
          padding: 60px 16px;
        }
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        z-index: 1;
      }
    }

    &#testimonials-section {
      background-color: var(--app-color-3);
      padding: 80px 20px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: var(--app-color-2);
      text-align: center;
      overflow: hidden;

      .testimonials-header {
        margin-bottom: 50px;

        h1 {
          font-size: 2em;
          color: var(--app-color-2);
          line-height: 1.3;
        }

        .overall-stars {
          font-size: 1.8em;
          color: var(--app-color-1);
          margin-top: 15px;
        }
      }

      .testimonial-slider {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 900px;
        margin: 0 auto;
        position: relative;
        padding-bottom: 80px;
        box-sizing: border-box;

        .slider-track {
          display: flex;
          transition: transform 0.5s ease-in-out;
          width: 100%;
          min-height: 300px;
        }

        .testimonial-slide {
          flex: 0 0 100%;
          width: 100%;
          box-sizing: border-box;
          padding: 32px 20px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .testimonial-card {
          background-color: #ffffff;
          border-radius: 16px;
          padding: 16px;
          box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
          text-align: left;
          max-width: 600px;
          width: 100%;
          position: relative;
          min-height: 150px;
          display: flex;
          flex-direction: column;
          justify-content: center;

          .testimonial-header {
            display: flex;
            align-items: flex-start;
            margin-bottom: 20px;

            .reviewer-info {
              display: flex;
              align-items: center;
              gap: 15px;
              position: absolute;
              top: -20px;
              left: -8px;
              background-color: #ffffff;
              padding: 12px 24px;
              border-radius: 50px;
              box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
              z-index: 2;

              .reviewer-details {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                .rating-stars {
                  font-size: 0.9em;
                  color: var(--app-color-1);
                  white-space: nowrap;
                }
              }
            }
          }

          img {
            border-radius: 16px;
          }


          .testimonial-video {
            margin-top: 20px;
            position: relative;
            padding-bottom: 56.25%;
            height: 0;
            overflow: hidden;
            max-width: 100%;
            background: #000;

            iframe {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }
          }
        }

        .navbar-slider {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 32px;
          width: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          padding: 10px 0;
          box-sizing: border-box;

          .slider-controls {
            width: auto;
            margin-top: 0;
            position: static;
            &.left {
              order: 1;
            }

            &.right {
              order: 3;
            }

            button {
              background-color: var(--app-color-1);
              color: var(--app-color-2);
              border: none;
              padding: 10px 16px;
              font-size: 1.5em;
              border-radius: 50%;
              cursor: pointer;
              transition: background-color 0.3s ease, transform 0.2s ease;
              box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
              width: 50px;
              height: 50px;
              display: flex;
              justify-content: center;
              align-items: center;

              &:hover {
                background-color: rgba(var(--app-color-1-rgb), 0.9);
                transform: translateY(-2px);
              }
            }
          }

          .slider-dots {
            display: flex;
            justify-content: center;
            margin-top: 0;
            gap: 10px;
            order: 2;

            .dot {
              width: 12px;
              height: 12px;
              border-radius: 50%;
              background-color: rgba(var(--app-color-2-rgb), 0.4);
              cursor: pointer;
              transition: background-color 0.3s ease;

              &.active {
                background-color: var(--app-color-2);
              }
            }
          }
        }
      }
    }

    &#support-call-to-action {
      background-color: var(--app-color-2);
      padding: 100px 20px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: var(--app-color-3);
      text-align: center;
      position: relative;

      .cta-content-wrapper {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;

        .cta-text-container {
          padding: 0;
          max-width: 700px;

          h1 {
            font-size: 1.8em;
            color: var(--app-color-1);
            margin-bottom: 20px;
            line-height: 1.3;
            font-weight: bold;
          }

          h3 {
            font-size: 1.2em;
            color: var(--app-color-3);
            opacity: 0.9;
            line-height: 1.5;
            margin-bottom: 24px;
            background-color: rgba(0, 0, 0, 0.15);
            padding: 8px 34px;
            border-radius: 8px;
          }

          p {
            font-size: 1.1em;
            color: var(--app-color-3);
            line-height: 1.6;
            margin-bottom: 32px;
            background-color: rgba(0, 0, 0, 0.15);
            padding: 8px 34px;
            border-radius: 8px;

            span {
              background-color: rgba(0, 0, 0, 0.1);
              color: var(--app-color-1);
              font-weight: bold;
              padding: 2px 8px;
            }
          }
        }
      }

      .cta-button {
          width: 100%;
          max-width: 560px;
          height: fit-content;
          padding: 16px 60px;

          span {
            text-wrap: wrap;
            max-width: 100%;
          }
        }

      .cta-image-placeholder {
        width: 100%;
        max-width: 600px;
        height: 400px;
        background-color: #cccccc;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #666666;
        font-style: italic;

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 15px;
        }
      }

      .arrow-2 {
        top: -27px;
      }

      .wave {
        position: absolute;
        left: 0;
        z-index: 3;
        background-color: transparent;
        background-image: url(../images/separator-m.png);

        &.top {
          top: -34px;
        }

        &.bottom {
          bottom: -34px;
        }
      }
    }

    &#pricing-section {
      background-color: var(--app-color-3);
      padding: 60px 20px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: var(--app-color-2);
      text-align: center;
      overflow: hidden;

      .pricing-container {
        max-width: 600px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
      }

      .pricing-header {

        h2 {
          line-height: 1.2;
          margin-bottom: 24px;
          font-weight: bold;
          color: var(--app-color-2);
        }

        .main-title {
          line-height: 1.2;
          margin-bottom: 24px;
          font-weight: bold;
          color: var(--app-color-1);
          font-size: 2em;
          /* text-transform: unset; */
          text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
        }

        .subtitle {
          font-size: 1.3em;
          color: var(--app-color-2);
          opacity: 0.9;
        }
      }

      .price-offer-card {
        background-color: #f9f9f9;
        border-radius: 16px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
        padding: 24px;
        width: 100%;
        max-width: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        .original-price {
          font-size: 1.1em;
          color: var(--app-color-2);
          opacity: 0.8;
          padding: 10px 32px;
          border: 1px solid #dfdfdf;

          .strikethrough {
            text-decoration: line-through;
            font-weight: normal;
            color: #777;
          }

          span {
            font-weight: 500;
          }
        }

        .price-divider, .payment-methods-divider {
          width: 80%;
          height: 2px;
          background-color: #eeeeee;
          margin: 12px 0 8px;
        }

        .current-price {
          display: flex;
          flex-direction: column;
          align-items: center;

          h2 {
            margin: 0;
            line-height: 1.2;
          }

          .installments {
            font-size: 47px;
            color: var(--app-color-1);
            font-weight: bold;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
            margin-bottom: 24px;

            .smaller {
              font-size: 20px;
              font-weight: normal;
              color: var(--app-color-2);
            }
          }

          .cash-price {
            font-size: 16px;
            color: var(--app-color-2);
            opacity: 0.9;
          }
        }

        .purchase-button {
          margin-top: 8px;

          .cta-button {
            padding: 16px 40px 14px;
          }

        }

        .payment-methods img {
          max-width: 250px;
          height: auto;
          margin-top: 10px;
        }

        .security-message {
          margin-top: 20px;

          h2 {
            text-wrap: wrap;
            font-size: 14px;
            color: #555;
            line-height: 1.4;
          }
        }
      }
    }

    &#faq-section {
      background-color: var(--app-color-1);
      padding: 72px 16px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: var(--app-color-2);
      text-align: center;
      position: relative;

      article {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        gap: 16px;
        max-width: 600px;
        margin: 0 auto;

        h1 {
          font-size: 1.75em;
        }

        .accordions {
          display: flex;
          flex-direction: column;
          gap: 8px;

          .accordion {
            list-style: none;

            h3 {
              border: 1px solid var(--app-color-2);
              padding: 12px 32px;
              border-radius: 4px;
              font-size: 1rem;
              box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.09);
              transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
              cursor: pointer;

              span {
                text-transform: uppercase;
              }
            }

            h3:hover {
              background-color: var(--app-color-3);
              color: var(--app-color-2);
              box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.12);
            }

            .accordion-content {
              max-height: 0;
              overflow: hidden;
              transition: max-height 0.25s ease-in-out;
              border-radius: 0 0 4px 4px;

              p {
                color: var(--app-color-2);
                padding: 12px 32px;
                margin: 8px 0;
              }
            }

            &.open h3 {
                background-color: var(--app-color-3);
                color: var(--app-color-lightgray-tint);
                border-color: var(--app-color-2);
                border-radius: 4px 4px 0 0;
                border-bottom: 1px dashed var(--app-color-2);
              }

              &.open .accordion-content {
                background-color: var(--app-color-3);
                max-height: 600px;
                transition: max-height 0.5s ease-in-out;
            }

            &.open .accordion-content {
              border: 1px solid var(--app-color-2);
              border-top: 0px;

              p {
                background-color: transparent;

                span {
                  font-weight: bold;
                  background-color: rgba(var(--app-color-1-rgb), 0.2);
                  padding: 0 4px;
                }
              }
            }
          }
        }
      }

      .wave {
        position: absolute;
        left: 0;
        z-index: 3;
        background-color: transparent;

        &.top {
          top: -34px;
        }

        &.bottom {
          bottom: -34px;
        }
      }
    }

  }

  div.separator {
    img {
      display: none;
    }

    &.wave {
      background-image: url(../images/separator-d.png);
      background-size: 250px 70px;
      background-repeat: repeat;
      height: 64px;
      width: 100%;
      background-color: var(--app-color-3);
    }

    &.arrow {
      background-image: url(../images/setasecao.svg);
      background-size: 250px;
      background-repeat: no-repeat;
      background-position: center;
      height: 74px;
      width: 100%;
      position: absolute;
      top: 6px;
      left: 0;
      padding-top: 16px;
    }

    &.arrow-2 {
      background-image: url(../images/setasecaov.svg);
      background-size: 250px;
      background-repeat: no-repeat;
      background-position: center;
      height: 74px;
      width: 100%;
      position: absolute;
      top: 6px;
      left: 0;
      padding-top: 16px;
    }
  }
}

footer {
  width: 100%;
  height: fit-content;
  margin-top: 32px;
  padding: 24px 16px;
  text-align: center;
  color: var(--app-color-2);
  font-weight: 500;
  font-size: 0.8125em;

  a {
    text-decoration: none;
    color: var(--app-color-2);
    font-weight: bold;
  }
}


@keyframes pts-carousel-slide {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}