@charset "UTF-8";

@import url(./variable.css);

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway';
}

ion-icon {
  font-size: 42px;
  color: var(--app-color-2);
  margin: 16px 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  section {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    padding: 16px;

    &#pts-first {
      position: relative; /* Essencial para posicionar o carrossel de fundo */
      height: 100vh; /* Faz a seção ocupar a altura total da tela */
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden; /* Garante que o carrossel não vaze */
      text-align: center;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: var(--app-color-3); /* Cor do texto principal (creme) */

      .background-carousel {
        position: absolute;
        top: 0;
        left: 0;
        width: 300%; /* Três imagens, cada uma 100% da largura, então 300% */
        height: 100%;
        display: flex; /* Para as imagens ficarem lado a lado */
        animation: carousel-slide 40s linear infinite; /* Animação: 30s, linear, infinita */
        z-index: 1; /* Abaixo do conteúdo principal */

        img {
          width: 33.333%; /* Cada imagem ocupa 1/3 da largura total do carrossel */
          height: 100%;
          object-fit: cover; /* Garante que a imagem preencha o espaço sem distorcer */
          display: block;
        }
      }

      .content-overlay {
        position: relative; /* Permite z-index */
        z-index: 2; /* Acima do carrossel de fundo */
        background-color: rgba(var(--app-color-2-rgb), 0.7); /* Overlay vinho semi-transparente para legibilidade */
        padding: 30px 20px;
        border-radius: 15px;
        max-width: 900px; /* Limita a largura do conteúdo */
        margin: 0 20px; /* Margem lateral em mobile */
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); /* Sombra para destacar o conteúdo */
        height: 80vh;

        h1 {
          font-size: 1.8em; /* Ajuste para mobile */
          line-height: 1.3;
          margin-bottom: 20px;
          text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3); /* Sombra para o texto para melhor contraste */

          span {
            color: var(--app-color-1); /* Destaque dourado */
            font-weight: bold;
          }
        }

        h3 {
          font-size: 1em; /* Ajuste para mobile */
          line-height: 1.5;
          margin-bottom: 15px;
          opacity: 0.9;
        }

        h3:last-of-type { /* Margem apenas no último subtítulo antes do botão */
          margin-bottom: 30px;
        }
      }
    }

    &#pts-1 {
      height: 80vh;
      width: 100%;
    }

    /* &#solutions {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      text-align: center;
      line-height: 2;
      background-color: rgba(var(--app-color-2-rgb), 0.85);
      color: var(--app-color-3);
      padding: 64px 16px;
      position: relative;
      overflow: hidden;

      .content-wrapper {
        max-width: 1080px;
        width: 100%;
        margin: 0 auto;
        z-index: 3;

        .heading {
          .main-heading {
            font-size: 1.8em;
            color: var(--app-color-3);
            margin-bottom: 16px;
            line-height: 1.3;
            text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
          }

          .sub-heading {
            font-size: 1.1em;
            color: var(--app-color-3);
            opacity: 0.9;
            margin-bottom: 12px;
            line-height: 1.5;

            .highlight {
              color: var(--app-color-1);
              font-weight: bold;
            }
          }
        }

        .problem-list-card {
          background-color: #ffffff;
          border-radius: 16px;
          box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.2);
          padding: 20px;
          margin-top: 30px;
          text-align: left;
          border: 1px solid rgba(var(--app-color-1-rgb), 0.3);

          .card-heading {
            font-size: 1.4em;
            color: var(--app-color-2);
            margin-bottom: 16px;
            text-align: center;
          }

          .bullet-list {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
              font-size: 1em;
              margin-bottom: 12px;
              line-height: 1.6;
              color: var(--app-color-2);
              position: relative;
              padding-left: 30px;
              transition: opacity 0.6s ease-out, transform 0.6s ease-out;

              span {
                font-weight: bold;
                color: var(--app-color-1);
              }

              &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 2px;
                width: 24px;
                height: 24px;
                background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23893B37"><path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41L9 16.17z"/></svg>');
                background-size: contain;
                background-repeat: no-repeat;
              }

              &.hidden-item {
                opacity: 0;
                transform: translateY(20px);
              }
            }
          }
        }
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../images/bg-3d-1.jpeg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        z-index: -1;
        opacity: 0.8;
        background-color: rgba(var(--app-color-3-rgb), 0.7);
        background-blend-mode: multiply;
      }
    } */


    &#solutions {
      text-align: center;
      line-height: 2;
      background-color: rgba(var(--app-color-2-rgb), 0.85);
      color: var(--app-color-3);
      padding: 64px 16px;
      position: relative;
      overflow: hidden;

      .content-wrapper {
        max-width: 1080px;
        width: 100%;
        margin: 0 auto;

        .heading {
          margin-bottom: 40px;

          .main-heading {
            font-size: 1.8em;
            color: var(--app-color-3);
            margin-bottom: 16px;
            line-height: 1.3;
            text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
          }

          .sub-heading {
            font-size: 1.1em;
            color: var(--app-color-3);
            opacity: 0.9;
            margin-bottom: 12px;
            line-height: 1.5;

            .highlight {
              color: var(--app-color-1);
              font-weight: bold;
            }
          }
        }

        .problem-list-card {
          background-color: transparent;
          border-radius: 16px;
          padding: 0;
          margin-top: 30px;
          text-align: left;
          position: relative;
          z-index: 2;

          .card-heading {
            font-size: 1.4em;
            color: var(--app-color-2);
            background-color: var(--app-color-3);
            padding: 16px 20px;
            border-top-left-radius: 16px;
            border-top-right-radius: 16px;
            margin-bottom: 20px;
            text-align: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          }

          .bullet-list {
            list-style: none;
            padding: 0 16px 16px 16px;
            margin: 0;
            display: flex;
            flex-direction: column;
            gap: 16px;

            li {
              background-color: var(--app-color-3);
              border-radius: 10px;
              box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
              padding: 16px 20px;
              border: 1px solid rgba(var(--app-color-1-rgb), 0.2);

              font-size: 1em;
              line-height: 1.6;
              color: var(--app-color-2);
              position: relative;
              padding-left: 50px;
              transition: opacity 0.6s ease-out, transform 0.6s ease-out;
              text-align: left;

              span {
                font-weight: bold;
                color: var(--app-color-1);
              }

              &::before {
                content: '';
                position: absolute;
                left: 15px;
                top: 50%;
                transform: translateY(-50%);
                width: 24px;
                height: 24px;
                background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23893B37"><path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41L9 16.17z"/></svg>');
                background-size: contain;
                background-repeat: no-repeat;
                z-index: 1;
              }

              &.hidden-item {
                opacity: 0;
                transform: translateY(20px);
              }
            }

            li.hidden-item {
              opacity: 0;
              transform: translateY(20px);
            }

            li.visible-item {
              opacity: 1;
              transform: translateY(0);
            }
          }
        }
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../images/texture-1.jpeg');
        background-size: 256px;
        background-position: center center;
        background-repeat: repeat;
        background-attachment: scroll;
        z-index: -1;
        opacity: 0.5;
        background-color: rgba(var(--app-color-3-rgb), 0.7);
        background-blend-mode: lighten;
      }
    }

    &#pts {
      background-color: #f9f9f9;
      padding: 120px 24px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: var(--app-color-2);
      text-align: center;
      position: relative;
      overflow: hidden;

      .pts-content-wrapper {
        max-width: 1080px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;

        .pts-text-container {
          padding: 0 16px;
          line-height: 1.6;
          width: 100%;

          h1 {
            font-size: 1.5em;
            color: var(--app-color-2);
            margin-bottom: 20px;
            line-height: 1.3;

            span {
              color: var(--app-color-1);
              font-weight: bold;
              text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
            }
          }

          h3 {
            font-size: 1.1em;
            color: var(--app-color-2);
            opacity: 0.9;
            line-height: 1.5;
          }
        }

        .pts-image-container {
          width: 100%;
          max-width: 400px;
          margin: 0 auto;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            max-width: 100%;
            height: auto;
            display: block;
            border-radius: 16px;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
            object-fit: cover;
          }
        }
      }

      &::after {
        content: '';
        background: linear-gradient(0deg,rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0.1) 100%);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
      }
    }

    &#timeline-section {
      background-color: var(--app-color-3);
      padding: 60px 24px;
      text-align: center;

      h2 {
        font-size: 2em;
        margin-bottom: 64px;
        color: var(--app-color-2);
        text-shadow: 1px 1px 10px rgba(0,0,0,0.2);
        padding-bottom: 32px;
      }

      .timeline-container {
        max-width: 1000px;
        margin: 0 auto;
        position: relative;

        .timeline-wrapper {
          position: relative;
          padding: 0 16px;

          .timeline-line {
            position: absolute;
            top: -32px;
            left: 25px;
            width: 2px;
            background-color: rgba(var(--app-color-1-rgb), 0.85);
            height: 100%;
          }

          .timeline-line-fill {
            position: absolute;
            top: -32px;
            left: 24px;
            width: 8px;
            background-color: var(--app-color-2);
            transform: translate(-25%);
            height: 0;
            z-index: 1;
          }

          .timeline-item {
            margin-bottom: 32px;
            position: relative;
            padding-left: 50px;

            .timeline-content {
              background-color: #fff;
              border-radius: 8px;
              box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
              padding: 24px;
              text-align: left;

              h3 {
                font-size: 1.4em;
                color: #444444;
                margin-bottom: 10px;
              }

              p {
                font-size: 0.95em;
                color: #555555;
              }
            }
          }
        }
      }

      &::after {
        content: '';
      }
    }

    &:first-child {
      height: 80vh;
    }

    &:nth-child(even) {
      background-color: var(--app-color-3);
      color: transparent;
    }

    &:nth-child(odd) {
      background-color: transparent;
      color: transparent;
    }
  }
}


@keyframes carousel-slide {
    0% { transform: translateX(0); } /* Começa na posição normal */
    100% { transform: translateX(-66.666%); } /* Rola para a esquerda até a última imagem */
    /* Para 3 imagens (A, B, C):
       0% -> A visível
       50% -> B visível
       100% -> C visível (A B C A B C) - o final seria -66.666% para que a imagem A comece de novo
       O truque é ter cópias das imagens para que a transição seja suave.
       Mas para simplicidade, vamos rolar até a última imagem e deixar ela começar de novo.
       Se a rolagem for infinita e suave, você pode duplicar as imagens no HTML
       (ex: img1, img2, img3, img1, img2) e ajustar o width e translateX.
       Para 3 imagens sem duplicar, o loop pode ter um pequeno "salto" no final.
       Mas se as imagens forem abstratas, pode funcionar bem.
       Vamos tentar com 3 imagens puras e a animação vai rolar até a última.
       Se quiser um loop perfeito e suave, precisaria de:
       background-carousel width: 400%; (para 3+1 cópia)
       img width: 25%;
       @keyframes carousel-slide { 0% { transform: translateX(0); } 100% { transform: translateX(-75%); } }
       Para o exemplo atual, 3 imagens:
       0% -> img1
       50% -> img2
       100% -> img3 (a próxima seria img1 novamente)
       Para um ciclo suave de 3 imagens:
       100% { transform: translateX(-100%); } /* Rola para a esquerda em 100% da largura de uma imagem,
                                                  assim a primeira imagem do segundo ciclo começa
                                                  você precisaria de 2 cópias das imagens no HTML
                                                  (img1, img2, img3, img1, img2, img3)
                                                  width: 600%; img width: 16.666%; transform: translateX(-50%);

       Para o seu pedido de "tira de carrossel girando", o mais simples é isso com `translateX`
       e aceitar um pequeno "corte" no final ou usar mais imagens/duplicar no HTML para suavizar.
       Vou manter o 300% e -66.666% para que sempre 1 imagem esteja visível e role entre elas.
    */
}