@media (min-width: 480px) {
/* #solutions {
    .content-wrapper {
      .main-heading {
        font-size: 2em;
      }

      .sub-heading {
        font-size: 1.2em;
      }

      .problem-list-card {
        .bullet-list li {
          font-size: 1.05em;
          margin-bottom: 12px;
        }
      }
    }
  } */

  #solutions {
    .content-wrapper {
      .main-heading {
        font-size: 2em;
      }

      .sub-heading {
        font-size: 1.2em;
      }

      .problem-list-card {
        .bullet-list {
          padding: 0 24px 24px 24px;
          gap: 20px;

          li {
            font-size: 1.05em;
            padding: 20px 24px;
            padding-left: 60px

          }

          li::before {
            left: 20px;
          }
        }
      }
    }
  }
}


@media (min-width: 768px) {
  main {
    section {
      /* &#solutions {
        padding: 80px 20px;

        .content-wrapper {
          padding: 32px;

          .main-heading {
            font-size: 2.5em;
            margin-bottom: 24px;
          }

          .sub-heading {
            font-size: 1.3em;
            margin-bottom: 16px;
          }
        }
      } */

      &#solutions {
        padding: 80px 20px;

        .content-wrapper {
          padding: 0;

          .heading {
            margin-bottom: 60px;

            .main-heading {
              font-size: 2.5em;
              margin-bottom: 24px;
            }

            .sub-heading {
              font-size: 1.3em;
              margin-bottom: 16px;
            }
          }

          .problem-list-card {
            padding: 0;
            border-radius: 20px;
            box-shadow: 2px 8px 20px rgba(0, 0, 0, 0.25);
            background-color: rgba(var(--app-color-2-rgb), 0.1);
            overflow: hidden;

            .card-heading {
              font-size: 1.6em;
              margin-bottom: 24px;
              padding: 20px 30px;
              border-top-left-radius: 20px;
              border-top-right-radius: 20px;
            }

            .bullet-list {
              padding: 0 30px 30px 30px;
              gap: 24px;
            }

            .bullet-list li {
              font-size: 1.125em;
              padding: 20px 30px;
              border-radius: 12px;
              box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
              padding-left: 60px;
            }

            .bullet-list li::before {
              width: 28px;
              height: 28px;
              left: 20px;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }
      }


      &#pts {
        padding: 80px 64px;
      }

      &#timeline-section {
        h2 {
            font-size: 2.5em;
        }

        .timeline-container {
          .timeline-wrapper {
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            .timeline-line {
              left: 50%;
              transform: translateX(-50%);
            }

            .timeline-line-fill {
              left: 50%;
              transform: translate(-50%);
            }

            .timeline-item {
              position: relative;
              width: 50%;
              padding: 0;

              &:first-child {
                margin-top: 32px;
              }
            }

            .timeline-item.left {
              align-self: flex-start;

              margin: 0;

              .timeline-content {
                margin-right: 40px;
                text-align: right;
              }

              &:last-child {
                margin-bottom: 64px;
              }
            }

            .timeline-item.right {
              align-self: flex-end;
              margin: 0;

              .timeline-content {
                margin-left: 40px;
              }
            }
          }
        }
      }
    }
  }
}


@media (min-width: 1024px) {
  main {
    section {
      &#solutions {
        .content-wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 64px;

          .heading {
            flex: 1;
            text-align: left;
            margin-bottom: 0;
          }

          .problem-list-card {
            flex: 1;
            max-width: 600px;
            margin-top: 0;
          }
        }
      }


      &#pts {
        .pts-content-wrapper {
          flex-direction: row;
          text-align: left;
          align-items: center;
          gap: 64px;

          .pts-text-container,
          .pts-image-container {
            flex: 1;
            padding: 0;
          }

          .pts-text-container {
            h1 {
              font-size: 2.5em;
            }

            h3 {
              font-size: 1.3em;
            }
          }

          .pts-image-container {
            img {
              border-radius: 24px;
              clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
            }
          }
        }

        &::after {
          background: linear-gradient(0deg,rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 85%, rgba(0, 0, 0, 0.2) 100%);
        }
      }
    }
  }
}
