:root {
  --app-color-1: #e6bb79;
  --app-color-1: #e6bb79;
  --app-color-1-rgb: 231, 202, 171;
  --app-color-1-contrast: #000000;

  --app-color-2: #893b37;
  --app-color-2-rgb: 137, 59, 55;
  --app-color-2-contrast: #ffffff;

  --app-color-3: #f1e9df;
  --app-color-3-rgb: 241, 233, 223;
  --app-color-3-contrast: #000000;

  --app-color-btn: #008000;
  --app-color-btn-rgb: 0, 128, 0;
  --app-color-btn-shade: #006800;
  --app-color-btn-contrast: #ffffff;

  --app-color-sucess: #008000;
  --app-color-sucess-contrast: #000000;
  --app-color-warning: #928d02;
  --app-color-warning-contrast: #000000;
  --app-color-danger: #a82200;
  --app-color-danger-shade: #7e1900;
  --app-color-danger-contrast: #ffffff;

  &.dark {
  --app-color-1: #f1e9df;
  --app-color-1-rgb: 241, 233, 223;
  --app-color-1-contrast: #000000;

  --app-color-2: #e6bb79;
  --app-color-2-rgb: 231, 202, 171;
  --app-color-2-contrast: #ffffff;

  --app-color-3: #893b37;
  --app-color-2-rgb: 137, 59, 55;
  --app-color-3-contrast: #000000;
  }
}